# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
env/
venv/
.venv/
ats_env/

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Flask
# ===============================
instance/
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Uploads (PDFs)
# ===============================
uploads/
